body {
    background: #5a595a;
    color: #fff;
    font-family: "brandon-grotesque", sans-serif;
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
img,
span {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}
img {
    width: 238px;
    border: 1px solid #fff;
}
span {
    width: 350px;
    text-transform: uppercase;
}
img,
.coming-soon + .coming-soon {
    margin-bottom: 60px;
}
.coming-soon {
    font-size: 1.5em;
    line-height: 1.4em;
}
.email {
    font-size: .75em;
    line-height: 2.2em;
    letter-spacing: .3em;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
