body {
    background: #00263A;
    color: #fff;
    font-family: 'Ovo', serif;
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
img,
span {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}
img {
    width: 250px;
    height: auto;
    margin-bottom: 100px;
}
span {
    width: 600px;
    max-width: 90vw;
}
.coming-soon {
    margin-bottom: 40px;
    font-size: 2.125em;
    line-height: 1.4em;
}
.email {
    font-size: .875em;
    line-height: 2.2em;
    letter-spacing: .25em;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
}
a {
    color: #f27434;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
